server:
  port: 8761

eureka:
  instance:
    hostname: localhost #配置例地址
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
    register-with-eureka: false
    fetch-registry: false #阻止eureka自身目]缘皆]灾行
